<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Community Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button; -moz-appearance: button; -ms-appearance: button; appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" /> 
  </head>
  <body>
    <div class="page">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'community-page.css') }}" />

      <div class="index-container">
        <div class="index-index">
          <div class="community-page-mainbar-banner">
            <div class="index-title-bar">
              <a href="/" class="index-navlink">
                <img
                  src="{{ url_for('static', filename= 'public/playground_assets/logoi546-gi92.svg') }}"
                  alt="LogoI546"
                  class="index-logo"
                />
              </a>
              <!-- <input
                type="text"
                placeholder="Search..."
                class="index-user-input-search-bar"
              /> -->
              <!-- <?php $search_text = "Search"; ?>  -->
              <!-- <form method="get" action="<?php ; ?>/"> 
              <input type="text"  name="s" id="s"  placeholder="Search..." class="index-user-input-search-bar" " /> 
              </form> -->
              <form method="get" action="/search_by_post"> 
                <input type="text"  name="s" id="s"  placeholder="Search..." class="index-user-input-search-bar" /> 
              </form>
              
              <div class="index-options">
                <a href="/add_post" method = "get"> <!--not sure-->
                <img
                  src="{{ url_for('static', filename= 'public/playground_assets/image39i546-ye1e-200w.png') }}"
                  alt="image39I546"
                  class="index-image39"
                />
                </a>
                <a href="/profilesettings" method="get">
                  <img
                    src="{{ url_for('static', filename= 'public/playground_assets/image28i546-f40b-200h.png') }}"
                    alt="image28I546"
                    class="index-image28"
                  />
                </a>
                <!-- We need to have to username and user id for user profile showing...where to get?-->
                <a href="/uprofile/{{name}}">
                <img
                  src="{{ url_for('static', filename= 'public/playground_assets/image27i546-6ewj-200w.png') }}"
                  alt="image27I546"
                  class="index-image27"
                />
                </a>
                <a href="/logout" class="index-navlink1">
                  <img
                    src="{{ url_for('static', filename= 'public/playground_assets/image31i546-953f-200h.png') }}"
                    alt="image31I546"
                    class="index-image31"
                  />
                </a>
              </div>
            </div>
            <div class="community-page-cover-pic"></div>
          </div>
          <div class="community-page-sidebar-community-details">
            <div class="community-page-sidebar2">
              <!-- <div class="community-page-top-section">
                <span class="community-page-text"><span>Top Posts</span></span>
                <span class="community-page-text002">
                  <span>Pinned Posts</span>
                </span>
                <span class="community-page-text004">
                  <span>Followers</span>
                </span>
              </div> -->
              <div class="community-page-catergory-section">
                <span class="community-page-text006">
                  <span>About Community</span>
                </span>
                <span class="community-page-text008">
                  <span>Members: {{members}}</span>
                </span>
                <span class="community-page-text010">
                  <span>Created: {{date}}</span>
                </span>
                <span class="community-page-text012">
                  <span>Creator: {{creator}}</span>
                </span>
              </div>
            </div>
            <div class="community-page-frame25">
              <div class="community-page-commnunity-line">
                <div class="community-page-community-frame">
                  <img
                    alt="CommunityProfilePic2850"
                    src="{{ url_for('static', filename= 'public/playground_assets/communityprofilepic2850-yauc-200h.png') }}"
                    class="community-page-community-profile-pic"
                  />
                  <div class="community-page-communitydetails">
                    <div class="community-page-community-name">
                      <span class="community-page-text014">
                        <span>{{community[1]}}</span>
                      </span>
                    </div>
                    <div class="community-page-about">
                      <span class="community-page-text016">
                        <span>{{community[2]}}</span>
                      </span>
                    </div>
                  </div>
                </div>
                <button class="community-page-follow-button"></button>
                <button class="basicpage-follow-button01">
                  <span class="basicpage-text49">
                <a href="/Follow/{{community[1]}}">
                  {% if flag %}
                    <span>Following</span>
                  {% else %}
                    <span>Follow</span>
                  {% endif %}
                  </a></span>
                </button>
              </div>
              <div class="category-page-top-posts-postframe">
                {% for post in posts %}
                <div class="category-page-top-posts-content">
                  <div class="category-page-top-posts-body" >
                  <div class="category-page-top-posts-ntc-pic">
                    <div class="category-page-top-posts-ntcp">
                      <img
                        alt="Ellipse3I114"
                        src="{{ url_for('static', filename = 'public/playground_assets/ellipse3i114-19dd-200h.png')}}"
                        class="category-page-top-posts-ellipse3"
                      />
                      <div class="category-page-top-posts-ntc">
                        <div class="category-page-top-posts-name-time">
                          <a
                          href="/uprofile/{{post[0]}}"
                            class="category-page-top-posts-text045"
                          >
                            <span>{{post[0]}}</span>
                          </a>
                          <span class="category-page-top-posts-text047">
                            <span>{{post[3][1]}}</span>
                          </span>
                        </div>
                        <a
                          href="/community/{{post[1]}}"
                          class="category-page-top-posts-text049"
                        >
                          <span>{{post[1]}}</span>
                        </a>
                      </div>
                    </div>
                    {% if post[3][8] != None%}
                    <img class="card-img-top" alt="..." style="max-width: 330px; max-height: 300px;" 
                      src={{post[3][8]}}>
                    {% else %}
                    <img
                      alt="Rectangle89I114"
                      src="{{ url_for('static', filename = 'public/playground_assets/rectangle89i114-rmwp.svg')}}"
                      class="category-page-top-posts-rectangle89"
                    />
                    {% endif %}
                  </div>
                  <a
                    href="/post/{{post[3][0]}}"
                    class="category-page-top-posts-navlink3"
                  >
                    <div class="category-page-top-posts-title-text">
                      <span class="category-page-top-posts-text051">
                        <span>{{post[3][2]}}</span>
                      </span>
                      <span class="category-page-top-posts-text053">
                          <span>
                            {{post[3][3]}}
                        </span>
                      </span>
                    </div>
                  </a>
                  </div>
                  <div class="category-page-top-posts-post-options">
                    <a href="/Vote/{{post[3][0]}}/1">
                    <img
                      alt="image20I114"
                      src="{{ url_for('static', filename = 'public/playground_assets/image20i114-aymn-200h.png')}}"
                      class="category-page-top-posts-image20"
                    />
                    </a>
                    <span class="category-page-top-posts-text069">
                      <span>{{post[3][4]}}</span>
                    </span>
                    <a href="/Vote/{{post[3][0]}}/0">
                    <img
                      alt="image32I114"
                      src="{{ url_for('static', filename = 'public/playground_assets/image32i114-5qic-200h.png')}}"
                      class="category-page-top-posts-image32"
                    />
                    </a>
                    <a
                      href="/post/{{post[3][0]}}"
                      class="category-page-top-posts-navlink4"
                    >
                      <img
                        alt="image21I114"
                        src="{{ url_for('static', filename = 'public/playground_assets/image21i114-6yq-200h.png')}}"
                        class="category-page-top-posts-image21"
                      />
                    </a>
                    <img
                      alt="image33I114"
                      src="{{ url_for('static', filename = 'public/playground_assets/image33i114-0y86-200h.png')}}"
                      class="category-page-top-posts-image33"
                    />
                  </div>
                  
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
