.page{
  background-color: rgba(0, 0, 0, 1);
  
}
.index-container {
  min-height: 100vh;
  margin: auto;
}
.index-index {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.index-title-bar {
  display: flex;
  padding: 0 11px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
  background-color: rgba(15, 18, 27, 1);
  justify-content: space-between;
}
.index-navlink {
  display: contents;
}
.index-logo {
  height: 64px;
  position: relative;
  text-decoration: none;
}
.index-user-input-search-bar {
  max-width: 400px;
  width: 300px;
  color: #9ab4e5;
  height: 44px;
  display: flex;
  padding: 10px 10px 10px 10px;
  position: relative;
  flex-grow: 1;
  font-size: 24px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 300;
  border-color: transparent;
  /* margin-right: 204px; */
  border-radius: 50px;
  background-color: rgba(22, 27, 41, 1);
}
.index-options {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.index-image39 {
  width: 24px;
  height: 25px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.index-image28 {
  width: 32px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
}
.index-image27 {
  width: 31px;
  height: 32px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.index-navlink1 {
  display: contents;
}
.index-image31 {
  width: 35px;
  height: 24px;
  position: relative;
  border-color: transparent;
  text-decoration: none;
}
.community-page-container {
  min-height: 100vh;
}
.community-page-community-page {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.community-page-mainbar-banner {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.community-page-title-bar {
  display: flex;
  padding: 0 11px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  background-color: rgba(15, 18, 27, 1);
}
.community-page-navlink {
  display: contents;
}
.community-page-logo {
  width: 219px;
  height: 64px;
  position: relative;
  margin-right: 204px;
  text-decoration: none;
}
.community-page-user-input-search-bar {
  color: rgba(154, 196, 229, 1);
  height: 44px;
  display: flex;
  padding: 10px 10px 10px 37px;
  position: relative;
  flex-grow: 1;
  font-size: 24px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 300;
  border-color: transparent;
  margin-right: 204px;
  border-radius: 50px;
  background-color: rgba(22, 27, 41, 1);
}
.community-page-options {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.community-page-navlink1 {
  display: contents;
}
.community-page-image39 {
  width: 24px;
  height: 25px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.community-page-image28 {
  width: 32px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
}
.community-page-navlink2 {
  display: contents;
}
.community-page-image27 {
  width: 31px;
  height: 32px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.community-page-image31 {
  width: 35px;
  height: 24px;
  position: relative;
  border-color: transparent;
}
.community-page-cover-pic {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(19, 23, 34, 1);
}
.community-page-sidebar-community-details {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.community-page-sidebar2 {
  max-width: 233px;
  width: 150px;
  flex-grow: 1;
  /* height: 715px; */
  display: flex;
  padding: 9px 0 0 7px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 27px;
  flex-direction: column;
}
.basicpage-follow-button01 {
  /* width: 97px; */
  height: 29px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(71, 25, 110, 1);
}
.basicpage-text49 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-top-section {
  width: 100%;
  height: 106px;
  display: flex;
  padding: 15px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  margin-bottom: 31px;
  flex-direction: column;
  background-color: rgba(15, 18, 27, 1);
}
.community-page-text {
  color: rgba(170, 205, 233, 1);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.community-page-text002 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.community-page-text004 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-catergory-section {
  width: 100%;
  /* height: 489px; */
  display: flex;
  padding: 15px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(15, 18, 27, 1);
}
.community-page-text006 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: underline;
}
.community-page-text008 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.community-page-text010 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 12px;
  text-decoration: none;
}
.community-page-text012 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-frame25 {
  width: 946px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.community-page-commnunity-line {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}
.community-page-community-frame {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 65px;
}
.community-page-community-profile-pic {
  width: 105px;
  height: 105px;
  position: relative;
  border-color: transparent;
  margin-right: 3px;
}
.community-page-communitydetails {
  width: 676px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.community-page-community-name {
  display: flex;
  padding: 0 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.community-page-text014 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-about {
  display: flex;
  padding: 6px 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.community-page-text016 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-follow-button {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.community-page-follow-button1 {
  width: 97px;
  height: 29px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(71, 25, 110, 1);
}
.community-page-text018 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-postframe {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.community-page-content {
  display: flex;
  padding: 18px 22px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: rgba(22, 27, 41, 1);
}
.community-page-ntc-pic {
  width: 330px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
}
.community-page-ntcp {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.community-page-ellipse3 {
  width: 41px;
  height: 38px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 11px;
}
.community-page-ntc {
  width: 278px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.community-page-name-time {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 3px;
}
.community-page-text020 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 9px;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-text022 {
  color: rgba(104, 104, 104, 1);
  width: 60px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-text024 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-rectangle89 {
  width: 330px;
  height: 246px;
  position: relative;
}
.community-page-title-text {
  width: 405px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
}
.community-page-text026 {
  color: rgba(154, 196, 229, 1);
  width: 202px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 22px;
  text-decoration: underline;
}
.community-page-text028 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-post-options {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.community-page-image20 {
  width: 40px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text039 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image32 {
  width: 40px;
  height: 28px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text044 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-navlink3 {
  display: contents;
}
.community-page-image21 {
  width: 46px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-text046 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image33 {
  width: 27px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.community-page-content1 {
  display: flex;
  padding: 18px 22px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: rgba(22, 27, 41, 1);
}
.community-page-ntc-pic1 {
  width: 330px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
}
.community-page-ntcp1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.community-page-ellipse31 {
  width: 41px;
  height: 38px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 11px;
}
.community-page-ntc1 {
  width: 278px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.community-page-name-time1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 3px;
}
.community-page-text048 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 9px;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-text050 {
  color: rgba(104, 104, 104, 1);
  width: 60px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-text052 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-rectangle891 {
  width: 330px;
  height: 246px;
  position: relative;
}
.community-page-title-text1 {
  width: 405px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
}
.community-page-text054 {
  color: rgba(154, 196, 229, 1);
  width: 202px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 22px;
  text-decoration: underline;
}
.community-page-text056 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-post-options1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.community-page-image201 {
  width: 40px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text075 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image321 {
  width: 40px;
  height: 28px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text080 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image211 {
  width: 46px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text082 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image331 {
  width: 27px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.community-page-content2 {
  display: flex;
  padding: 18px 22px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(22, 27, 41, 1);
}
.community-page-ntc-pic2 {
  width: 330px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
}
.community-page-ntcp2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.community-page-ellipse32 {
  width: 41px;
  height: 38px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 11px;
}
.community-page-ntc2 {
  width: 278px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.community-page-name-time2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 3px;
}
.community-page-text084 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 9px;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-text086 {
  color: rgba(104, 104, 104, 1);
  width: 60px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-text088 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-rectangle892 {
  width: 330px;
  height: 246px;
  position: relative;
}
.community-page-title-text2 {
  width: 405px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
}
.community-page-text090 {
  color: rgba(154, 196, 229, 1);
  width: 202px;
  height: auto;
  font-size: 22px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 22px;
  text-decoration: underline;
}
.community-page-text092 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.community-page-post-options2 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.community-page-image202 {
  width: 40px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text111 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image322 {
  width: 40px;
  height: 28px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text116 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image212 {
  width: 46px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.community-page-text118 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.community-page-image332 {
  width: 27px;
  height: 26px;
  position: relative;
  border-color: transparent;
}

.category-page-top-posts-postframe {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.category-page-top-posts-content {
  display: flex;
  padding: 12px 15px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 15px;
  justify-content: space-between;
  background-color: rgba(22, 27, 41, 1);
}
.category-page-top-posts-body{
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.category-page-top-posts-ntc-pic {
  width: 330px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
}
.category-page-top-posts-ntcp {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.category-page-top-posts-ellipse3 {
  width: 41px;
  height: 38px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 11px;
}
.category-page-top-posts-ntc {
  width: 278px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.category-page-top-posts-name-time {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 3px;
}
.category-page-top-posts-text045 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 9px;
  margin-bottom: 0;
  text-decoration: none;
}
.category-page-top-posts-text047 {
  color: rgba(104, 104, 104, 1);
  width: 80px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.category-page-top-posts-text049 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.category-page-top-posts-rectangle89 {
  width: 330px;
  height: 246px;
  position: relative;
}
.category-page-top-posts-navlink3 {
  display: contents;
}
.category-page-top-posts-title-text {
  width: 40%;
  display: flex;
  position: relative;
  height: 100%;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 41px;
  flex-direction: column;
  text-decoration: none;
}
.category-page-top-posts-text051 {
  color: rgba(154, 196, 229, 1);
  /* width: 202px; */
  height: auto;
  font-size: 26px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  /* margin-bottom: 22px; */
  text-decoration: underline;
}
.category-page-top-posts-text053 {
  color: rgba(255, 255, 255, 1);
  height: 100%;
  font-size: 16px;
  align-self: stretch;
  white-space: pre-line;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.category-page-top-posts-post-options {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.category-page-top-posts-image20 {
  width: 40px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.category-page-top-posts-text064 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.category-page-top-posts-image32 {
  width: 40px;
  height: 28px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
}
.category-page-top-posts-text069 {
  color: rgba(136, 114, 255, 1);
  /* width: 85px; */
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.category-page-top-posts-navlink4 {
  display: contents;
}
.category-page-top-posts-image21 {
  width: 46px;
  height: 30px;
  position: relative;
  border-color: transparent;
  margin-bottom: 8px;
  text-decoration: none;
}
.category-page-top-posts-text071 {
  color: rgba(136, 114, 255, 1);
  width: 85px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.category-page-top-posts-image33 {
  width: 27px;
  height: 26px;
  position: relative;
  border-color: transparent;
}