.page{
  background-color: rgba(0, 0, 0, 1);
  
}
.index-container {
  min-height: 100vh;
  margin: auto;
}
.index-index {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.index-title-bar {
  display: flex;
  padding: 0 11px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
  background-color: rgba(15, 18, 27, 1);
  justify-content: space-between;
}
.index-navlink {
  display: contents;
}
.index-logo {
  height: 64px;
  position: relative;
  text-decoration: none;
}
.index-user-input-search-bar {
  max-width: 400px;
  width: 300px;
  color: #9ab4e5;
  height: 44px;
  display: flex;
  padding: 10px 10px 10px 10px;
  position: relative;
  flex-grow: 1;
  font-size: 24px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 300;
  border-color: transparent;
  /* margin-right: 204px; */
  border-radius: 50px;
  background-color: rgba(22, 27, 41, 1);
}
.index-options {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.index-image39 {
  width: 24px;
  height: 25px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.index-image28 {
  width: 32px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
}
.index-image27 {
  width: 31px;
  height: 32px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.index-navlink1 {
  display: contents;
}
.index-image31 {
  width: 35px;
  height: 24px;
  position: relative;
  border-color: transparent;
  text-decoration: none;
}
.create-post-container {
  min-height: 100vh;
}
.create-post-create-post {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 0 150px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.create-post-title-bar {
  display: flex;
  padding: 0 11px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 89px;
  background-color: rgba(15, 18, 27, 1);
}
.create-post-navlink {
  display: contents;
}
.create-post-logo {
  width: 219px;
  height: 64px;
  position: relative;
  margin-right: 204px;
  text-decoration: none;
}
.create-post-user-input-search-bar {
  color: rgba(154, 196, 229, 1);
  height: 44px;
  display: flex;
  padding: 10px 10px 10px 37px;
  position: relative;
  flex-grow: 1;
  font-size: 24px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 300;
  border-color: transparent;
  margin-right: 204px;
  border-radius: 50px;
  background-color: rgba(22, 27, 41, 1);
}
.create-post-options {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.create-post-navlink1 {
  display: contents;
}
.create-post-image39 {
  width: 24px;
  height: 25px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.create-post-image28 {
  width: 32px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
}
.create-post-navlink2 {
  display: contents;
}
.create-post-image27 {
  width: 31px;
  height: 32px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
  text-decoration: none;
}
.create-post-image31 {
  width: 35px;
  height: 24px;
  position: relative;
  border-color: transparent;
}
.create-post-frame27 {
  width: 75%;
  max-width: 850px;
  display: flex;
  padding: 70px 0px  0px;
  position: relative;
  align-self: center;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.create-post-community-name {
  display: flex;
  padding: 0 99px 0 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 30px;
}
.create-post-text {
  color: rgba(170, 205, 233, 1);
  width: 212px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 37px;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-namebox {
  display: flex;
  padding: 10px 10px 10px 16px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}

.textarea {
  color: gray;
  outline: none;
  border: none;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  resize: none;
  /* min-height: 20px; */
  line-height: 25px;
  padding: 10px 6px;
  /* max-width: 400px; */
  background-color: rgba(255, 255, 255, 1);
}

/* .textarea[contenteditable]:empty::before {
  content: "Enter Body";
  color:rgba(217, 217, 217, 1);
} */

.create-post-text02 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-community-description {
  display: flex;
  padding: 0 103px 0 0;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 30px;
}
.create-post-text04 {
  color: rgba(170, 205, 233, 1);
  width: 220px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 31px;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-description-box {
  display: flex;
  padding: 10px;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 1);
}
.create-post-text06 {
  color: rgba(217, 217, 217, 1);
  width: 100%;
  height: auto;
  flex-grow: 1;
  /* font-size: 20px; */
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-text07 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-category {
  display: flex;
  padding: 0 102px 0 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 30px;
}
.create-post-text21 {
  color: rgba(170, 205, 233, 1);
  width: 208px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 37px;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-category-name {
  display: flex;
  padding: 10px 10px 10px 16px;
  position: relative;
  flex-grow: 1;
  /* align-items: flex-start; */
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.create-post-text23 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-category1 {
  display: flex;
  padding: 0 102px 0 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 30px;
}
.create-post-text25 {
  color: rgba(170, 205, 233, 1);
  width: 208px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 37px;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-category-name1 {
  display: flex;
  padding: 10px 10px 10px 16px;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.create-post-text27 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-profle-pic {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 30px;
}
.create-post-text29 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 43px;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-chooseafile {
  width: 152px;
  height: 30px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(80, 48, 92, 1);
}
.create-post-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-cover-pic {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 30px;
}
.create-post-text33 {
  color: rgba(170, 205, 233, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 43px;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-chooseafile1 {
  width: 152px;
  height: 29px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(80, 48, 92, 1);
}
.create-post-text35 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-frame26 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.create-post-create-button {
  width: 152px;
  height: 45px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 37px;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(71, 25, 110, 1);
}
.create-post-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.create-post-cancel-button {
  width: 152px;
  height: 45px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(71, 25, 110, 1);
}

.button {
  display: inline-block;
  width: 152px;
  height: 45px;
  padding: 10px;
  position: relative;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(71, 25, 110, 1);
  border: none;
  border-radius: 30px;
}

.button:hover {background-color: rgba(70, 25, 110, 0.852)}

.button:active {
  background-color: rgba(70, 25, 110, 0.852)S;
  transform: translateY(1px);
}

.create-post-text39 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
