.page{
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
}
.login-container {
  height: auto;
  margin: auto;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  *zoom: 1;
  
}

.login-login {
  /* width: 100%;
  height: auto; */
  display: flex;
  /* padding: 322px 395px; */
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
      
}
.login-frame18 {
  display: flex;
  padding: 0 133px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.login-credential-frame {
  height: 202px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 1px;
  flex-direction: column;
}
.login-vector {
  width: 247px;
  height: 75px;
  position: relative;
  margin-bottom: 12px;
}
.login-frame15 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.login-username-frame {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
}

.login-image14 {
  width: 40px;
  height: 40px;
  position: relative;
  border-color: transparent;
  margin-right: 9px;
}
.login-username-field {
  display: flex;
  padding: 0px 10px 0px 23px;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.login-password-field {
  display: flex;
  padding: 0px 10px 0px 23px;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.textarea_2 {
  color: gray;
  border: none;
  outline: none;
  display: block;
  width: auto;
  height: auto;
  overflow: hidden;
  /* resize: both; */
  min-height: 20px;
  line-height: 20px;
  padding: 10px 6px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 1);
}
.textarea {
  color: gray;
  border: none;
  outline: none;
  display: block;
  width: auto;
  height: auto;
  overflow: hidden;
  /* resize: both; */
  min-height: 20px;
  line-height: 20px;
  padding: 10px 6px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 1);
  
}

/* .textarea[contenteditable]:empty::before {
  content: "Enter Body";
  color:rgba(217, 217, 217, 1);
} */

.login-text {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-password-frame {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
}
.login-image13 {
  width: 40px;
  height: 40px;
  position: relative;
  border-color: transparent;
  margin-right: 9px;
}

.login-text2 {
  color: rgba(217, 217, 217, 1);
  width: 92px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-navlink {
  display: contents;
  position: relative;
  align-items: center;
}
.login-image16 {
  width: 40px;
  height: 40px;
  position: relative;
  border-color: transparent;
  text-decoration: none;
}
.login-frame19 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.login-navlink1 {
  background: linear-gradient(270deg, #8872FF 0.04%, rgba(136, 114, 255, 0) 192.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
